<header>
  <nav>
    <div class="burger">
      <div class="line1"></div>
      <div class="line2"></div>
      <div class="line3"></div>
    </div>
    <h2 class="nav-header">HamroKhata</h2>
    <ul class="links">
      <li><a href="/">Home</a></li>
      <li><a href="/infoTable">InfoTable</a></li>
      <li><a href="/audit">Audit</a></li>
    </ul>
  </nav>
</header>