<header>
  <nav>
    <h2>HamroKhata</h2>
    <ul>
      <li><a href="/">Home</a></li>
      <li><a href="/infoTable">InfoTable</a></li>
      <li><a href="#">Audit</a></li>
    </ul>
  </nav>
</header>
