<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="main.css">
  <title>HamroKhata</title>
</head>

<body>
  <%-include("../views/partials/header.ejs") %>
  <div class="entry">
    <%- body %>
  </div>
  <%- include("../views/partials/footer.ejs") %>
  <script src="../public/javascript/header.js"></script>
  <script defer src="../../public/javascript/show_password.js"></script>
</body>

</html>