.parentTable{
    position: relative;
    display: flex;
    font-size: var(--font-size);
    font-family: var(--text-font);
    margin-top: 20rem;
    justify-content: space-between;
    
}

.calc_table{
    line-height: 2.6rem;
    position: absolute;
    bottom: 0;
    margin-left: 5rem;
    text-align: left;
    color: rgb(var(--header-title-color));
    font-weight: 600;
}


@media screen and (max-width: 720px){
    .calc_table{
        line-height: 2.4rem;
        font-size: 1.2rem;
        margin-left: 0.6rem;
    }
}

@media screen and (max-width: 350px){
    .calc_table{
        font-size: 1rem;
    }
}