.page-header{
    position: absolute;
    top: 18%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 2.5rem;
    padding: 3rem;
    text-align: center;
    color: rgb(var(--header-title-color));
    font-family: var(--header-font);
    /* text-shadow: 2px 0px 1px black; */
}

.parentTable_Info{
    display: flex;
    font-size: var(--font-size);
    font-family: var(--text-font);
    top: 40%;
    left: 50%;
    justify-content: space-between;
    
}

.Column{
    width: 25rem;
    text-align: center;
    /* height: auto; */
    margin-bottom: 15rem;
}

.Column h3{
    margin-bottom: 2rem;
}

.search{
    margin: 17rem 0 5rem 8rem;
}

.search form input{
    outline: none;
    font-family: var(--text-font);
    height: 3rem;
}

.search form input:focus{
    background-color: var(--input-focus-color);
}


.search form button{
    font-family: var(--text-font);
    margin-left: 1rem;
    padding: 0.5rem 2rem;
    cursor: pointer;

}

#total_counter{
    position: fixed;
    right: 0.5%;
    bottom: 13%;
    font-size: var(--font-size);
    font-family: var(--header-font);
    color: var(--header-color);
    background-color: var(--header-background-color);
    width: 12rem;
    height: 7rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 2rem;
}


@media screen and (max-width: 350px){
    #total_counter{
        right: -5%;
        transform: scale(0.7);
    }
        
    }


@media screen and (max-width: 500px){
    .page-header{
        font-size: 2rem;
        top: 14%;
    }

    .search{
        margin-left: 1rem;
    }
 
}


@media screen and (max-width: 400px){
    .Column{
        font-size: 1.4rem;
    }
}


@media screen and (min-height: 900px){
    .page-header{
        top: 9%;
    }

    #total_counter{
        bottom: 45%;
    }
}