#logout{
    position: absolute;
    top: 15%;
    right: 2%;
}

#logout button{
    background-color: rgba(var(--header-title-color),0.85);
    outline: none;
    font-family: var(--text-font);
    border: none;
    border-radius: 2rem;
    padding: 1rem 2rem;
    cursor: pointer;
    color: white;
}

#logout button:hover{
    background-color: rgb(var(--header-title-color));
}

 .entry_form_header{
    position: absolute;
    top: 8%;
    font-family: var(--text-font);
    font-size: var(--font-size);
    font-weight: 100;
    color: rgb(var(--header-title-color));
    color: white;
    margin-bottom: 1rem;
}

#confirm_password{
    margin-left: 1.8rem;
}

#old_password{
    margin-left: 1.6rem;
}

#password{
    margin-left: 4.5rem;
}
.show_password_icon_div{
    position: relative;
    transform: translateY(-3.5rem);
    cursor: pointer;
    margin-left: 26.6rem;
}

.show_password_icon{
    position: absolute;
}

svg ellipse{
    fill: rgba(0, 0, 0, 0);
}

.show_password_icon .circle{
    stroke: black;
    fill: black
}

.show_password_icon .circle_active{
    fill: rgb(var(--header-title-color));
    stroke:rgb(var(--header-title-color));;
}